@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to ToyTron, the online computer simulator.</h2>

<p>Select an option:</p>
<ul>
    <li>@Html.ActionLink("Enter a Program Manually","Enter","Program")</li>
    <li>@Html.ActionLink("Load a Program From a File", "Upload", "Program")</li>
    <li>@Html.ActionLink("Select a Program from the Database", "Load", "Program")</li>
</ul>
